.product-card-container {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
}

.product-info-container {
	transform: translateY(-32px);
	background: white;
	position: relative;
	border-radius: 16px;
	padding: 8px 16px;
	box-shadow: 0 2px 12px #00000012;
	width: max-content;
}

.product-category {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 0;
	color: white;
	background: indigo;
	padding: 4px 8px;
	border-radius: 0 8px 8px 0;
}

.product-image {
	width: 240px;
	height: 280px;
	border-radius: 16px;
	object-fit: cover;
	background: gray;
	border: 1px solid whitesmoke;
}

.product-name {
	font-weight: 500;
	margin: 4px 0;
	margin-top: 12px;
	max-width: 200px;
}

.product-add-cart {
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 10;
	padding: 4px;
	border: none;
	background: none;
	cursor: pointer;
}